* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9f8fe;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
}
/* header */
.header {
  background-color: #f9f8fe;
  border-bottom: 1px solid;
  grid-area: header;
  height: 70px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.search-box {
  margin-left: 80px;
  position: relative;
}
.search-box img {
  filter: brightness(0);
  position: absolute;
  left: 50px;
  top: 10px;
  margin-right: 20px;
}
.search-box input {
  width: 512px;
  /* width: 100%; */
  height: 42px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  margin-left: 40px;
  outline: none;
}
.header .header-right {
  display: flex;
}
.header-right img {
  align-self: center;
  margin-right: 40px;
  width: 25px;
  height: 25px;
}
.header-right img:hover {
  cursor: pointer;
}
.user {
  display: flex;
  border-left: 2px solid #d1d1d1;
  padding-left: 20px;
  gap: 11px;
}
.user div:first-of-type {
  width: 35px;
  height: 35px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user h5,
.user span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1%;
}
/* sidebar */
.sidebar {
  background-color: #1d4edb;
  max-height: 100vh;
  height: 100%;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 26px 16px;
  position: sticky;
  top: 0;
  scrollbar-width: none;
}
.sidebar .logo {
  display: flex;
  justify-content: left;
  align-items: center;
}
.sidebar .logo img {
  background-color: #ffff;
  border-radius: 7px;
}
.logo h1 {
  font-size: 28px;
  margin-left: 10px;
  line-height: 36px;
  font-family: "DM Serif Display";
  color: #ffff;
}
.navbar {
  margin-top: 40px;
}
.navbar div {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
  width: 223px;
  height: 50px;
  margin-top: 5px;
  padding: 16px 10px;
}
.navbar div img {
  width: 26px;
}
.navbar div a {
  text-decoration: none;
  color: #ffff;
}
.navbar .home {
  background-color: #ffff;
  color: #000;
  border-radius: 12px;
}
.navbar .home a {
  color: #000;
}
.navbar div:hover {
  background-color: #ffff;
  color: #000;
  border-radius: 12px;
}
.navbar div:hover a,
.nav div:hover img {
  color: black;
  cursor: pointer;
}

.navbar div:hover img {
  cursor: pointer;
  filter: brightness(0);
}
.profile-card {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 15px;
  margin-top: 100px;
}
.profile-card img {
  display: flex;
  justify-self: center;
  margin-bottom: 10px;
}
.profile-card h4 {
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 13px;
  margin-bottom: 15px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 50px;
  margin-bottom: 15px;
}

.progress {
  width: 60%;
  height: 100%;
  background: #1d4ed8;
  border-radius: 50px;
}

.profile-card .profile-progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  cursor: pointer;
}
.profile-progress a {
  text-decoration: none;
  color: #1d4ed8;
  font-weight: 500;
}

.sidebar-bottom {
  display: flex;
  margin-top: 20px;
  height: 50px;
  gap: 10px;
  font-size: 20px;
  align-items: center;
  border-top: 2px solid #fcfafa62;
  padding: 10px 26px;
  color: #ffff;
}
.sidebar-bottom img {
  width: 25px;
  height: 25px;
  margin-top: 15px;
}
.sidebar-bottom p {
  margin-top: 15px;
}
/*  */
.main {
  background-color: #f9f8fe;
  grid-area: main;
  margin: 20px 33px 0px;
  overflow-y: auto;
}
.Apply {
  display: flex;
  gap: 14px;
  padding: 1px 0px;
  cursor: pointer;
}
.Apply h2 {
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400px;
  line-height: 36px;
}
.Apply img {
  width: 10px;
  height: 17px;
  margin-top: 10px;
  color: #3c3d43;
  cursor: pointer;
}
.form-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.form-heading {
  width: 764px;
  height: 880px;
  /* border: 1px solid red; */
}
.form-heading .nav-heading {
  height: 56px;
  border-bottom: 1px solid #00000026;
  display: flex;
}
.num1,
.num2,
.num3 {
  background-color: #d1d1d1;
  width: 37px;
  height: 37px;
  border-radius: 12px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.num1 {
  background-color: #1d4ed8;
}
.card-1 {
  border-bottom: 2px solid #1d4ed8;
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 254px;
}
.card-1 a,
.card-2 a,
.card-3 a {
  text-decoration: none;
  font-weight: 400;
  color: #d1d1d1;
}
.card-1 a {
  color: #1d4ed8;
}
form {
  width: 643px;
  height: 674px;
  margin-top: 45px;
  border-radius: 12px;
  border: 2px solid #bfc8d6;
  box-shadow: 0 8px 24px 0 #0000001f;
  padding: 20px 10px;
  justify-self: center;
  display: none;
}
form h2 {
  font-size: 22px;
  font-weight: 400;
  padding-left: 10px;
  line-height: 28px;
}
form .FullName,
.email,
.Contact,
.location,
.Profile-Link,
.Linkedin-Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.FullName label,
.email label,
.Contact label,
.location label,
.Profile-Link label,
.Linkedin-Profile label {
  width: 200px;
  height: 40px;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 500;
  color: #00000080;
}
.FullName input,
.email input,
.Contact input,
.location input,
.Profile-Link input,
.Linkedin-Profile input {
  height: 60px;
  width: 100%;
  padding: 10px 21px;
  background-color: #eff4ff;
  border-radius: 8px;
  border: 1px solid #00000047;
}

input::placeholder {
  font-size: 17px;
}
.form-heading button {
  width: 534px;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  color: #ffff;
  background-color: #1d4ed8;
}
input {
  outline: none;
}
/* preview */
.preview {
  width: 643px;
  height: 674px;
  margin-top: 45px;
  border-radius: 12px;
  border: 2px solid #bfc8d6;
  box-shadow: 0 8px 24px 0 #0000001f;
  padding: 20px 10px;
  justify-self: center;
  display: none;
}
.preview h2 {
  font-size: 22px;
  font-weight: 400;
  padding-left: 10px;
  line-height: 28px;
}
.preview .FullNam,
.Email,
.contact,
.location,
.Profile-Link,
.Linkedin-Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.preview .FullName label,
.email label,
.Contact label,
.location label,
.Profile-Link label,
.Linkedin-Profile label {
  width: 200px;
  height: 40px;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 500;
  color: #00000080;
}
.preview .FullName input,
.email input,
.Contact input,
.location input,
.Profile-Link input,
.Linkedin-Profile input {
  height: 60px;
  width: 100%;
  padding: 10px 21px;
  background-color: #eff4ff;
  border-radius: 8px;
  border: 1px solid #00000047;
}

input::placeholder {
  font-size: 17px;
}
.form-heading button {
  width: 534px;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  color: #ffff;
  background-color: #1d4ed8;
}
input {
  outline: none;
}
