* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
}
/* header */
.header {
  background-color: #ffff;
  border-bottom: 1px solid;
  grid-area: header;
  height: 70px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.search-box {
  margin-left: 80px;
  position: relative;
}
.search-box img {
  filter: brightness(0);
  position: absolute;
  left: 50px;
  top: 10px;
  margin-right: 20px;
}
.search-box input {
  width: 512px;
  /* width: 100%; */
  height: 42px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  margin-left: 40px;
}
.header .header-right {
  display: flex;
}
.header-right img {
  align-self: center;
  margin-right: 40px;
  width: 25px;
  height: 25px;
}
.header-right img:hover {
  cursor: pointer;
}
.user {
  display: flex;
  border-left: 2px solid #d1d1d1;
  padding-left: 20px;
  gap: 11px;
}
.user div:first-of-type {
  width: 35px;
  height: 35px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user h5,
.user span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1%;
}
/* sidebar */
.sidebar {
  background-color: #1d4edb;
  max-height: 780px;
  height: 100%;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 26px 16px;
  position: sticky;
  top: 0;
}
.sidebar .logo {
  display: flex;
  justify-content: left;
  align-items: center;
}
.sidebar .logo img {
  background-color: #ffff;
  border-radius: 7px;
}
.logo h1 {
  font-size: 28px;
  margin-left: 10px;
  line-height: 36px;
  font-family: "DM Serif Display";
  color: #ffff;
}
.navbar {
  margin-top: 40px;
}
.navbar div {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
  width: 223px;
  height: 50px;
  margin-top: 5px;
  padding: 16px 10px;
}
.navbar div img {
  width: 26px;
}
.navbar div a {
  text-decoration: none;
  color: #ffff;
}
.navbar .home {
  background-color: #ffff;
  color: #000;
  border-radius: 12px;
}
.navbar .home a {
  color: #000;
}
.navbar div:hover {
  background-color: #ffff;
  color: #000;
  border-radius: 12px;
}
.navbar div:hover a,
.nav div:hover img {
  color: black;
  cursor: pointer;
}

.navbar div:hover img {
  cursor: pointer;
  filter: brightness(0);
}
/*  */
.profile-card {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 15px;
  margin-top: 100px;
}
.profile-card img {
  display: flex;
  justify-self: center;
  margin-bottom: 10px;
}
.profile-card h4 {
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 13px;
  margin-bottom: 15px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 50px;
  margin-bottom: 15px;
}

.progress {
  width: 60%;
  height: 100%;
  background: #1d4ed8;
  border-radius: 50px;
}

.profile-card .profile-progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  cursor: pointer;
}
.profile-progress a {
  text-decoration: none;
  color: #1d4ed8;
  font-weight: 500;
}

.sidebar-bottom {
  display: flex;
  margin-top: 20px;
  height: 50px;
  gap: 10px;
  font-size: 20px;
  align-items: center;
  border-top: 2px solid #fcfafa62;
  padding: 10px 26px;
  color: #ffff;
}
.sidebar-bottom img {
  width: 25px;
  height: 25px;
  margin-top: 15px;
}
.sidebar-bottom p {
  margin-top: 15px;
}
/*  */
.main {
  background-color: #ffff;
  grid-area: main;
  margin: 20px 33px 0px;

  overflow-y: auto;
}
.main .user-name {
}
.user-name h2 {
  font-family: "DM Serif Display";
  font-size: 28px;
  font-weight: 400px;
  line-height: 36px;
}
.user-name p {
  margin-top: 10px;
  color: #3c3d43;
}
.verified-opportunity {
  margin: 53px 0px;
}
.verified-opportunity h2,
.joblisting h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30.8px;
}
.verified-opportunity a,
.joblisting a {
  text-decoration: none;
  color: #1d4edb;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.verified-opportunity .verified-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.verified-opportunity .opportunity-cards {
  display: flex;
  gap: 10px;
}
.opportunity-cards .card1,
.card2,
.card3 {
  background-color: #f9fafd;
  width: 33%;
  height: 309px;
  border-radius: 15px;
  border: 1px solid #bfc8d6;
  position: relative;
  padding: 20px;
}

.verified {
  display: flex;
  position: absolute;
  right: 20px;
  top: 25px;
  background-color: #18d25c40;
  width: 106px;
  height: 30px;
  border-radius: 32px;
  padding: 6px 10px;
  gap: 10px;
}
.verified p {
  font-size: 16px;
  line-height: 16px;
}
.head .Logo {
  background-color: #000;
  width: 45px;
  height: 40px;
  border-radius: 12px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.verified img {
  width: 18px;
  height: 16px;
}
.opportunity-cards h4 {
  margin: 14px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
}
.opportunity-cards .pay,
h3 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.opportunity-cards .stack {
  display: flex;
  gap: 7px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #0000004d;
}
.opportunity-cards .stack p {
  width: 80px;
  height: 24px;
  background-color: #2563eb26;
  color: #1d4edb;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.Apply-sec {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0px 5px;
}
.Apply-sec p {
  font-size: 14px;
  align-self: center;
}
.Apply-sec button {
  background-color: #1d4edb;
  color: #ffff;
  width: 73px;
  height: 38px;
  border-radius: 12px;
  border: none;
}
.joblisting div:first-of-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.joblisting table {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  border-collapse: collapse;
  border: 1px solid #0000004d;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 10px 2px #0000004d;
}
table th,
td {
  padding: 20px;
  border-bottom: 1px solid #0000004d;
}
th,
.all-jobs {
  background-color: #eff4ff;
}
.all-jobs td {
  border-bottom: 0px;
}
